.well {
  text-align: center;
  margin: 25px;
  padding:10px;
  font-family: Calibri;
  font-style: normal;
  color: blue;
}

.img {
    height: 500px;
    width: auto;
    padding: 15px;
    margin-left: 180px;
}
.container {
padding: 60px;

}
